---
title: SAMI
nav:
  - 'sami-documentation'
  - 'api-spec'
  - 'advanced-features'
  - 'native-SDKs'
  - 'demos-tools'
  - 'samples'
  - 'sami-changelog'
  - 'faq'
---

:javascript
  document.location.href = '/sami/sami-documentation';