---
title: SAMI
nav:
  - 'introduction'
  - 'connect-the-data'
  - 'advanced-features'
  - 'api-spec'
  - 'tools'
  - 'tutorials'
  - 'samples'
  - 'sami-changelog'
  - 'faq'
---

:javascript
  document.location.href = '/sami/sami-documentation';