%script#toc{type: 'text/html'}
  %div
    {{#title}}
    %h2.table-of-contents-title
      %a{href:"\#{{href}}"} {{ text }}
    {{/title}}
    %ul.table-of-contents-list.nav
      {{#items}}
      %li{ class: "{{className}}"}
        %a{href: "\#{{href}}"} {{text}}
      {{/items}}
