---
title: "Community"
nav:
---

.community-wrapper{ data: { view: "Community" } }

  / %section.community-list
  /   .community-list-header
  /     %h2 Topics
  /     %a{:href => "#"} All »
  /   .community-list-body
  /     .topics

  %section.community-list
    .community-list-header
      %h2 Issues
      %a{:href => "https://github.com/samiio/samsungsami.io/issues"} All »
    .community-list-body
      .issues

= partial "templates/topic"
= partial "templates/issue"