.feedback
  %a#follow-us.larger-icon{href: 'https://twitter.com/samsungsamiio', target: "_blank"}
    %i.fa.fa-twitter
    Follow Us
  %a#mailing-list{href: '#'}
    %i.img.mailing-list-large
    Mailing List
  %a#feedback.large-icon{href: '#feedback'}
    %i.fa.fa-send-o
    Feedback

%ul
  %li= link_to 'Terms of Service', '/about/terms-service.html'
  %li= link_to 'Privacy Policy', '/about/privacy.html'
%p &copy; 2014-2015 SAMSUNG. All Rights Reserved.
