.feedback
  %a#feedback{href: '#feedback'}
    %i.fa.fa-send-o
    Feedback
    
%ul
  %li= link_to 'Terms of Service', '/about/terms-service.html'
  %li= link_to 'Privacy Policy', '/about/privacy.html'
%p &copy; 2014 SAMSUNG. All Rights Reserved.
