---
title: SAMI
nav:
  - 'sami/sami-documentation'
  - 'community'
---

%header.sami.landing-header
  .mask
    %h1 A data exchange platform that defines a new paradigm
    %p SAMI is a Data Driven Development (D&#179;) platform with simple open APIs and SDKs to send and receive diverse data, regardless of the source.
    %a.button{href: '/sami/demos-tools/your-first-application.html'} Create your first application &raquo;

%section.sami-subheader.landing-subheader
  %ul
    %li
      %a.landing-block{href: '/sami/native-SDKs/android-SDK.html'}
        %h2
          Connect your Android apps
        %p Let our Java/Android SDK get your apps acquainted with SAMI. Easily execute REST API calls to SAMI, or set up WebSockets to receive data in real-time.
        %span.learn-more  Get the Details
    %li
      %a.landing-block{href: '/about/privacy.html'}
        %h2 Privacy is important
        %p Read how SAMI treats users’ data and how applications can request access.
        %span.learn-more  Read More

%section.landing-links
  %ul
    %li
      %a.landing-block{href: '/sami/sami-documentation/'}
        .section-image
          %img{src: "/images/landing/documentation.png"}
        %h2 Documentation
        %p Learn more, check out the APIs, and get connected
        %span.learn-more Read More
    %li
      %a.landing-block{href: '/sami/native-SDKs/'}
        .section-image
          %img{src: "/images/landing/data-center.png"}
        %h2 Native SDKs
        %p Quickly integrate SAMI with your language of choice
        %span.learn-more Read More
    %li
      %a.landing-block{href: '/sami/demos-tools/'}
        .section-image
          %img{src: "/images/landing/code-samples.png"}
        %h2 Demos and Tools
        %p Get started! Play with and adapt our code to your own ideas
        %span.learn-more Read More
    %li
      %a.landing-block{href: 'https://devportal.samsungsami.io/'}
        .section-image
          %img{src: "/images/landing/dev-admin.png"}
        %h2 Developer Portal
        %p Create and manage your applications and device types
        %span.learn-more Read More

%footer.footer
  = partial :footer
